<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/cadastraSerie.css" />
		
		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<div id="content" class="content container" >

			<img id="poster" src="/img/series/<%= serie.ImgPoster %>" width="300" height="400" alt="<%= serie.nome %>">

			<h2><%= serie.Nome %> (<%= serie.Ano %>)</h2>

			<aside style="align: rigth; display: inline;">
				<ul>
					<% if (usuarioLogado) { %>
						
						<li id="liAdicionarJaVistas">
							<a id="linkAdicionarJaVistas" href="#">Adicinar à Já Vistas</a>
						</li>
						<li id="liRemoverJaVistas">
							<a id="linkRemoverJaVistas" href="#">Remover de Já Vistas</a>
						</li>
						<li id="liAdiconarDesejoVer">
							<a id="linkAdiconarDesejoVer" href="#">Adicionar à Desejo Ver</a>
						</li>
						<li id="liRemoverDesejoVer">
							<a id="linkRemoverDesejoVer" href="#">Remover de Desejo Ver</a>
						</li>

					<% } %>

				</ul>
			</aside>
			
			<%= serie.Descricao %>

		</div>
		
		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/cadastraSerie.js"></script>
		<script type="text/javascript">
			this.esconderExibirOpcoes(!!<%=serie.MarcadaJaVista%>,!!<%=serie.MarcadaDesejoVer%>);
		</script>
	</body>
</html>